$body-color: #204669;
$white: #FFFFFF;
$blue: #1B8CF2;

$sidebar-bg-color: #424F57;

$content-padding: 10px;
$content-bg-color: #E4E9EF;
$content-page-bg-color: #FFF;


@mixin default-page-padding {
  width: 100%;
  padding: 50px 10px;
}
